body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.logo {
    height: 50px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.list-item {
    margin: 0;
}

.list-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* pedidos.css */

main {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.pedidos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.pedido-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: 20px auto;
}

.total {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.fecha {
    color: #888;
    margin-bottom: 20px;
}

.productos {
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.producto {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.producto:last-child {
    border-bottom: none;
}

.product-name {
    font-weight: bold;
    flex: 1;
    text-align: left;
}

.product-quantity, .product-price {
    flex: 0.5;
    text-align: right;
    color: #555;
}



.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}

.footer p {
    margin: 0;
}